#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  width: 400px;
}

input[type="text"], input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}
